<!-- begin tracified-image-slider.liquid -->

{%comment%}TRACIFIED IMAGE SLIDER{%endcomment%} 
{%comment%}image column container{%endcomment%}
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">

        {%comment%}wrapper for slides{%endcomment%}
        <div id="imageSliderWrapper" class="carousel-inner"></div>

      </div>
    </div>
  </div>
<!-- </div> -->

{%comment%}END TRACIFIED IMAGE SLIDER{%endcomment%}

<!-- end tracified-image-slider.liquid -->